<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="fileName" value="theme.upup" />
		<add key="JPGName" value="private.jpg" />
		<add key="CachingJPGName" value="thumbnail.jpg" />
		<add key="defaultTargetPath" value="E:\FTP" />
		<add key="UserName" value="小怪兽" />
		<add key="author" value="小怪兽" />
		<add key="url" value="http://upupoo-video-mp4.7way.cn//theme" />
		<add key="used" value="1" />
		<add key="ver" value="1" />
		<add key="themeType" value="1" />
		<add key="tag" value="6" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>